* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0affeb;
}

.container {
    background: rgba(255, 255, 255, 0.745);
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(190, 8, 8, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}

.timer {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

.buttons button {
    padding: 12px 25px;
    border: none;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

#start {
    background: #2828a7;
    color: white;
}
#start:hover {
    background: #208a39;
}

#stop {
    background: #dc3545;
    color: white;
}
#stop:hover {
    background: #b52a37;
}

#reset {
    background: #ffc107;
    color: black;
}
#reset:hover {
    background: #d9a106;
}
